{% extends "appbuilder/base.html" %}
{% block content %}
<div class="container">
  <h1>Our Vinyl Collection</h1>
  <h2>Total LPs: {{ lp_total }}</h2>
  <h2>Total releases: {{ full_total }}</h2>
  <h3>Releases per folder:</h3>
  <table class="table table-bordered table-condensed table-hover" style="width: auto">
{% for f in by_folder %}
    <tr><td><a href="{{ url_for('CollectionModelView.list',_flt_0_folder=f.folder.id) }}">{{ f.folder.name }}</a></td><td>{{ f.total }}</td></tr>
{% endfor %}
  </table>
</div>
{% endblock %}